<!DOCTYPE html>
<html>
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
        <main>
            <input type="search" id="search-bar" placeholder="Rembrandt van Rijn">
            <label>Search for your favourite artist and press ENTER</label>
            <h1 class="visible">Het rijksmuseum</h1>
        </main>           
    </body>
</html>